/*  ქართულენოვანი ვერსიისთვის ფონტის შერჩევა  */
* {
  font-family: "BPG Nino Elite Exp", sans-serif;
}

/*საერთო სტილები responsive-სთვის*/
.inline-responsive {
}

.width-100-28-29 {
}

.width-100-38-39 {
}

.width-100-48-49 {
}

.width-100-58-59 {
}

.width-100-68-69 {
}

/*  საერთო, ზოგადი სტილები  */
body {
  margin: 0;
  padding: 0;
}

/*login form*/
.admin-login-page-container{
  padding-top: 20vh;
  height: 100vh;
}
.admin-login-heading{
  text-align: center;
  padding: 3% 0;
  font-size: 20px;
  color: #1890ff;
  font-weight: 700;
}
.admin-login-form{
}

/*antd login form styles*/
.login-form {
  max-width: 300px;
  margin: 0 auto !important;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.ant-input{
  height: 40px !important;
}
.login-form-button{
  /*background-color: mediumseagreen !important;*/
  /*border-color: #479a6c !important;*/
}

/*antd spin styles*/
.login-spin {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 30px 50px;
  margin: 20px 0;
}


.inline-responsive {
}

/*  მობილურებისთვის:  */


/*საერთო სტილები responsive-სთვის*/
.inline-responsive {
  display: block;
}

.width-100-28-29 {
  width: 100%;
}

.width-100-38-39 {
  width: 100%;
}

.width-100-48-49 {
  width: 100%;
}

.width-100-58-59 {
  width: 100%;
}

.width-100-68-69 {
  width: 100%;
}

/*  ტაბლეტებისთვის:  */
@media only screen and (min-width: 646px) {

  /*საერთო სტილები responsive-სთვის*/
  .inline-responsive {
    display: inline-block;
    vertical-align: top;
  }

  .width-100-28-29 {
    width: 28%;
  }

  .width-100-38-39 {
    width: 38%;
  }

  .width-100-48-49 {
    width: 48%;
  }

  .width-100-58-59 {
    width: 58%;
  }

  .width-100-68-69 {
    width: 68%;
  }
}

/*  დესკტოპისთვის:  */
@media only screen and (min-width: 900px) {

  /*საერთო სტილები responsive-სთვის*/
  .inline-responsive {
    display: inline-block;
    vertical-align: top;
  }

  .width-100-28-29 {
    width: 29%;
  }

  .width-100-38-39 {
    width: 39%;
  }

  .width-100-48-49 {
    width: 49%;
  }

  .width-100-58-59 {
    width: 59%;
  }

  .width-100-68-69 {
    width: 69%;
  }
}